---
import type { User } from "../../class/User";
import UserCard from "../../components/UserCard.astro";
import Layout from "../../layouts/Layout.astro";
import { AuthService } from "../../services/AuthService";
import { UserService } from "../../services/UserService";

const token = Astro.cookies.get("token")?.value;
const refreshToken = Astro.cookies.get("refreshToken")?.value;
if (!token) {
  try {
    await AuthService.refreshToken(refreshToken!);
  } catch (error) {
    console.error("Error refreshing token:", error);
    Astro.redirect("/login");
  }
}
const currentUser = await UserService.fetchCurrentUser(token!);
const following = await UserService.fetchFollowing(currentUser.id, token!);
---

<Layout>
  <main class="h-screen w-full flex flex-col border-x border-primary">
    <section class="flex flex-col gap-4 py-4">
      <div class="flex flex-col">
        <h1 class="text-2xl text-primary font-bold pl-4 py-2">Following</h1>
      </div>

      <div class="flex flex-col gap-4 ml-4 overflow-auto">
        {
          following.length > 0 ? (
            following.map((user: User) => (
              <UserCard user={user} currentUserId={currentUser.id} />
            ))
          ) : (
            <p class="text-lg text-primary">
              You are not following anyone yet.
            </p>
          )
        }
      </div>
    </section>
  </main>
</Layout>
