---
import Post from '../components/Post.astro';
import Layout from '../layouts/Layout.astro';
import { postTemplate } from '../constants/postTemplate';
import EmptyPost from '../components/EmptyPost.astro';
---

<Layout>
    <EmptyPost />
    <div class="w-full bg-[#a79a0d]/90 h-3">&nbsp;</div>
    {
        postTemplate.map((post) => (
            <Post post={post} />
        ))
    }
</Layout>
