---
import Post from '../components/Post.astro';
import Layout from '../layouts/Layout.astro';
import { postTemplate } from '../constants/postTemplate';
import EmptyPost from '../components/EmptyPost.astro';
import SearchSection from '../components/SearchSection.astro';
var pageName= Astro.originPathname.split('/').pop();
pageName = !pageName? 'home' : pageName;
const pageTitle = pageName.charAt(0).toUpperCase() + pageName.slice(1);
---

<Layout>
    <main class="flex-1 border-x border-primary ">
        <div class="flex items-center p-4 py-2 mt-3 border-b border-primary bg-white">
            <h1 class="text-primary font-semibold text-lg">{pageTitle}</h1>
        </div>
        <EmptyPost />
        <div class="w-full bg-[#a79a0d]/90 h-3">&nbsp;</div>
        {
            postTemplate.map((post) => (
                <Post post={post} />
            ))
        }
    </main>
    <SearchSection/>
    
</Layout>
