---
import AccountSetting from "../components/AccountSetting.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <section class="border-l border-primary w-10/12" id="preferencesSection">
    <AccountSetting />
  </section>
</Layout>

