---
import Settings from "../components/Settings.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <section class="border-l border-primary w-10/12" id="preferencesSection">
    <Settings />
  </section>
</Layout>

