---
import Post from "../components/Post.astro";
import { postTemplate } from "../constants/postTemplate";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="flex flex-col gap-4 py-4 border-r border-primary">
    <div class="flex flex-col">
      <h1 class="text-2xl text-primary font-bold pl-4 py-2">Your Profile</h1>
    </div>

    <div class="flex flex-col gap-4 ml-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#a79a0d"
        class="size-20"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        ></path>
      </svg>
      <div>
        <h2 class="text-xl text-primary font-bold">Username here</h2>
        <p class="text-lg text-primary">@userTagHere</p>
      </div>
    </div>
    <div class="border-t border-primary mt-4">
      {postTemplate.map((post) => <Post post={post} />)}
    </div>
  </section>
</Layout>
