---

---

<div class="w-full border-primary p-2 h-fit">
    <div class="flex items-center justify-between">
        <div class="flex items-center gap-2">
            <img src="/logo.svg" alt="user picture" class="h-10 w-10 rounded-full" />
            <div class="flex flex-col justify-center">
                <h1 class="text-primary font-semibold text-lg">Username</h1>
                <p class="text-sm text-gray-500 -mt-1.5">@usertag</p>
            </div>
        </div>
        <button class="btn-primary">Post</button>
    </div>
    <div class="ml-8 px-4 -mt-2 flex flex-col">
        <input type="text" class="text-primary text-lg mt-4" placeholder="Enter a title"/>
        <input type="text"  class="text-sm text-gray-500" placeholder="Start writing..."/>
    </div>
    

</div>