---

---

<div class="flex flex-col items-center gap-4 w-1/4 h-full p-4 bg-white self-end">
    <div class="flex border border-primary rounded-full w-full justify-between items-center p-2 h-fit">
        <input type="text" placeholder="Search..." class="h-fit rounded-full outline-none" />
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#a79a0d" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
        </button>
    </div>
    <div class=" flex flex-col gap-4 bg-primary rounded-xl w-full p-4 px-5 ">
        <div class="flex flex-col justify-center pb-3 text-white border-b-[2px]">
            <h2 class="text-lg font-bold mb-2">Search for specific posts</h2>
            <p>You can search for posts by entering their title</p>
        </div>
        <div class="flex flex-col justify-center pb-3 text-white border-b-[2px]">
            <h2 class="text-lg font-bold mb-2">Search categories</h2>
            <p>You can search for categories by entering "|" before your text</p>
        </div>
        <div class="flex flex-col justify-center pb-3 text-white">
            <h2 class="text-lg font-bold mb-2">Search for users</h2>
            <p>You can search for posts by entering "@" and their usernames</p>
        </div>
    </div>
</div>