---
import AccountSetting from "../../components/AccountSetting.astro";
import Layout from "../../layouts/Layout.astro";
let { setting } = Astro.params;
if (!setting || !["account"].includes(setting)) {
  return Astro.redirect("/preferences/account");
}
---

<Layout>
  <section class="border-l border-primary w-10/12" id="preferencesSection">
    <AccountSetting />
  </section>
</Layout>

