---
import type { User } from "../../../class/User";
import UserCard from "../../../components/UserCard.astro";
import Layout from "../../../layouts/Layout.astro";
import { UserService } from "../../../services/UserService";
import { ensureValidToken } from "../../../utils/auth";

await ensureValidToken(Astro);
const token = Astro.cookies.get("token")?.value;
const userId = Astro.params.id;

const user = await UserService.fetchUserById(Number(userId), token!);
const currentUser = await UserService.fetchCurrentUser(token!);
const followers = await UserService.fetchFollowers(user.id, token!);
---

<Layout>
  <main class="h-screen w-full flex flex-col border-x border-primary">
    <section class="flex flex-col gap-4 py-4">
      <div class="flex flex-col">
        <h1 class="text-2xl text-primary font-bold pl-4 py-2">Followers</h1>
      </div>

      <div class="flex flex-col gap-4 ml-4 overflow-auto">
        {
          followers.length > 0 ? (
            followers.map((user: User) => (
              <UserCard
                user={user}
                currentUserId={currentUser.id}
              />
            ))
          ) : (
            <p class="text-lg text-primary">
              No one is following @{user.userTag} yet.
            </p>
          )
        }
      </div>
    </section>
  </main>
</Layout>
